FORMAT: 1A
HOST: http://www.wantoto.com

# 台大醫院行動醫療資訊系統API
台大醫院行動醫療資訊系統API。使用 RESTful 架構規劃。
版本 0.1
# 所有API [/{?user_id,session_key}]
所有API都須檢查Session Key是否過期，過期則回傳 401。所有字串編碼皆為UTF-8。
## 所有API[GET]
+ Parameters
    + user_id (string) ... 使用者帳號
    + session_key (string) ... 使用者登入 Session Key

+ Response 401 (application/json)

        {
            "error": "unauthorized"
        }

# Group 病患清單
病患清單相關API
## 病患清單 [/patients/{?patient_id,ward,doctor_id}]
### 列出所有病患 [GET]
可傳入病歷號、病房、 醫師員編等參數，回傳符合參數條件之病患
+ Parameters
    + patient_id (string, optional) ... 病歷號
    + ward (string, optional) ... 病房 (ex:5W3)
    + doctor_id (string, optional) ... 醫師員編

+ Response 200 (application/json)

        [
            {   //病患資訊
                "name" = "王小明",  //病患姓名[string]
                "gender" = 1,   //性別[int]（男性：1;女性：0）
                "birthday" = 1406938026,    //出生日期[double]（以時間序號表示，使用 1 January 1970, GMT為基準時間 http://zh.wikipedia.org/wiki/Help:%E6%99%82%E9%96%93%E5%BA%8F%E8%99%9F）
                "patient_id" = "12345678"   //病歷號[string]
                "LD_No" = "A123456789"  //身分證號[string]
                "inpatient_info" = 
                {   //住院資訊
                    "ward" = "5W3 01-01",    //病房病床號[string]
                    "in_date" = 1406938026, //入院日期[double]（以時間序號表示，使用 1 January 1970, GMT為基準時間 http://zh.wikipedia.org/wiki/Help:%E6%99%82%E9%96%93%E5%BA%8F%E8%99%9F）
                    "visiting_staff" = "葉小菜" //主治醫師[string]
                }
                "tag" = 
                [   //特殊標記[string array] (ex:DNR,...)
                    "DNR"
                ]
            }
        ]

