FORMAT: 1A
HOST: http://www.wantoto.com

# 台大醫院行動醫療資訊系統 Web Service 0.1
採用 RESTful 架構規劃。所有字串編碼皆為UTF-8。

# 登入與取得 SessionKey [/SessionKey/?EpmNo,Password]
## 取得 session key[POST]
+ Parameters
    + EpmNo (string) ... 使用者帳號
    + Password (string) ... 使用者密碼

+ Response 200 (application/json)

        {
            "SessionKey": "51ADFDA9C02D4E1E9930D88A26963612"
        }

+ Response 401 (application/json)

        {
            "ErrorMessage": "帳號密碼錯誤" //錯誤訊息[String]
        }

# Group 所有 Web Service 通則
## Session Key [/{?SessionKey}]
### 驗證 Session Key [GET]
所有 Web Service 都須帶入 Session Key 檢查是否過期與是否具有存取權限。
過期則回傳 401；無存取權限則回傳 403。
+ Parameters
    + SessionKey (string) ... 使用者登入 Session Key

+ Response 401 (application/json)

        {
            "ErrorMeassage": "Session Key 過期"
        }
        
+ Response 403 (application/json)

        {
            "ErrorMeassage": "無存取權限"
        }

# Group 病患清單
病患清單相關 Web Service
## 病患清單 [/patients/{?PatientID,PersonID,WardCode,EpmNo,EpmNoConsult,EpmNoStarred,ORCode,ERCode,OPDCode,ExamRoomCode}]
### 查詢病患清單 [GET]
可傳入病歷號、身分證號、病房、醫師員編、手術房號、急診科別、門診科別、檢查科室等參數，回傳符合參數條件之病患
+ Parameters
    + PatientID (string, optional) ... 病歷號
    + PersonID (string, optional) ... 身分證號
    + WardCode (string, optional) ... 病房號 (ex:5W3)
    + EpmNo (string, optional) ... 醫師員編 (依照醫師員編顯示個人病患)
    + EpmNoConsult (string, optional) ... 醫師員編 (依照醫師員編顯示照會病患)
    + EpmNoStarred (string, optional) ... 醫師員編 (依照醫師員編顯示追蹤病患)
    + ORCode (string, optional) ... 手術房號
    + ERCode (string, optional) ... 急診科別
    + OPDCode (string, optional) ... 門診科別
    + ExamRoomCode (string, optional) ... 檢查科室
    
+ Response 200 (application/json)

        [
            {   //病患資訊
                "name" = "王小明",  //病患姓名[string]
                "gender" = 1,   //性別[int]（男性：1;女性：0）
                "birthday" = 1406938026,    //出生日期[double]（以時間序號表示，使用 1 January 1970, GMT為基準時間 http://zh.wikipedia.org/wiki/Help:%E6%99%82%E9%96%93%E5%BA%8F%E8%99%9F）
                "patient_id" = "12345678"   //病歷號[string]
                "LD_No" = "A123456789"  //身分證號[string]
                "inpatient_info" = 
                {   //住院資訊
                    "ward" = "5W3 01-01",    //病房病床號[string]
                    "in_date" = 1406938026, //入院日期[double]（以時間序號表示，使用 1 January 1970, GMT為基準時間 http://zh.wikipedia.org/wiki/Help:%E6%99%82%E9%96%93%E5%BA%8F%E8%99%9F）
                    "visiting_staff" = "葉小菜" //主治醫師[string]
                }
                "tag" = 
                [   //特殊標記[string array] (ex:DNR,...)
                    "DNR"
                ]
            }
        ]

## 病房號 [/Wards/]
### 查詢所有病房 [GET]
+ Response 200 (application/json)

        [   //病房資訊陣列
            {   //病房資訊
                "HospCode" = "T0",  //醫院代碼[string]
                "WardCode" = "01A1",   //病房代碼[string]
                "DisplayName" = "01A1",    //顯示名稱[string]
            }
        ]
